@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background:hsl(233, 47%, 7%) ;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.insights{
    display: flex;
    border: 1px solid black;
    max-width:900px;
    color: white;
    border-radius: 5px;
}
.texts{
    max-width: 900px;
    width: 100%;
    background: hsl(244, 38%, 16%);
    padding: 40px;
}
.texts p{
    margin-top: 30px;
}
.head{
    font-size: 2em;
    font-style: bold;
    font-weight: 600;
}
.head span{
    color: hsl(277, 64%, 61%);
}
.paragraph{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}
.numbers{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.companies{
    display: flex;
    flex-direction: column;
}
.companies span{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}
.templates{
    display: flex;
    flex-direction: column;
}
.templates span{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}
.queries{
    display: flex;
    flex-direction: column;
}
.queries span{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}
.image img{
    display: block;
    max-width: 425px;
    max-height: 425px;
    opacity: 0.4;
}
.image{
    max-width: 425px;
    max-height: 425px;
    background-color: hsl(277, 64%, 61%);
}
@media (max-width:376px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .insights{
        margin:20px auto;
        border-radius: 20px;
        display: flex;
        flex-direction:column-reverse;
        border: none;
        outline: none;
    }
    .texts{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 250px;
        border-radius:0 0 20px 20px;
        padding: 20px;
    }
    .texts p{
        font-size: 15px;
    }
    .image{
        max-width: fit-content;
        border-radius: 20px 20px 0 0px;
    }
    .image img{
        max-width:290px;
        border-radius: 20px 20px 20px 20px;
    }
    .numbers{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .queries{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .templates{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .companies{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .texts .head{
        font-size: 25px;
        text-align: center;
    }
    .texts .paragraph{
        text-align: center;
    }
}